body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Cuprum', Arial , sans-serif;
  color: #000;
  background: #ffffff url("..") no-repeat center top;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

p,
h2,
figure,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main-header {
  background-color: #293449;
}

.header-logo {
  float: left;
  display: inline-block;
  box-shadow: 0 5px 0 0 #b52933;
  font-size: 24px;
  background: #ee3643;
  padding: 10px 52px;
  text-transform: uppercase;
}

.header-logo:hover {
  box-shadow: 0 5px 0 0 #9a212a;
  background: #ca2c37;
}

.header-logo:active {
  background: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.main-navigation {
  float: left;
  width: 720px;
}

.form-menu {
  position: relative;
  float: left;
  width: 270px;
}

.search {
  width: 100%;
  padding: 13px 11px 13px 49px;
  border: none;
  font-size: 17px;
  color: #ffffff;
  font-family: "Cuprum","Arial",sans-serif;
  cursor: pointer;
  background-color: #293449;
}

.header-search {
  position: absolute;
  top: 13px;
  left: 16px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  font-size: 0;
  opacity: 0.3;
  background: transparent url("../images/spritesheet.png");
  background-position: 112px 109px;
  border: none;
}

.header-search, .search:focus {
  outline: none;
}

.search:hover+.header-search,
input[type=submit]:hover {
  opacity: 1;
}

.search:hover {
  background-color: #212a3a;
}

.search:focus {
  background-color: #fff;
  color: #000;
}

.search:focus+.header-search {
  background-position: 44px 109px;
  opacity: 1;
}

.header-up ::-webkit-input-placeholder {
  color: #ffffff;
}

::-moz-placeholder {
  color:#ffffff;
}/* Firefox 19+ */

:-moz-placeholder {
  color:#ffffff;
}/* Firefox 18- */

:-ms-input-placeholder {
  color:#ffffff;
}

input[placeholder] {
  text-overflow:ellipsis;
}

input::-moz-placeholder {
  text-overflow:ellipsis;
}

input:-moz-placeholder {
  text-overflow:ellipsis;
}

input:-ms-input-placeholder {
  text-overflow:ellipsis;
}

.header-up a {
  font-weight: normal;
}

.notes,
.basket-link {
  position: relative;
  display: inline-block;
  width: 150px;
  padding: 10px 0 11px 13px;
  font-size: 17px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
}

.notes:hover {
  background-color: #212a3a;
}

.basket-link:hover {
  background-color: #212a3a;
}

.notes:active {
  opacity: 0.5;
  background-color: #161d29;;
}

.basket-link:active {
  background-color: #161d29;
  opacity: 0.5;
}

.notes:hover::after {
  opacity: 1;
}

.basket-link:hover::after {
  opacity: 1;
}

.notes::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 20px;
  background: url("../images/spritesheet.png");
  background-position: 180px 113px;
  opacity: 0.5;
}

.basket-link::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 20px;
  background: url("../images/spritesheet.png");
  background-position: 246px 113px;
  opacity: 0.5;
}

.checkout {
  font-size: 17px;
  padding: 14px 21px 13px 20px;
  text-align: center;
  vertical-align: middle;
  width: 150px;
  box-sizing: border-box;
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
  color: #7ba265;
}

.header-bottom {
  background: #f1f5f7;
  margin-bottom: 60px;
}

.title-shop {
  float: left;
  width: 270px;
  margin-top: 49px;
  margin-bottom: 47px;
  margin-left: 52px;
}

.title-shop p {
  font-size: 16px;
  color: #ee4f5b;
  font-style: italic;
  font-family: "Cuprum","Arial",sans-serif;
  font-weight: normal;
 }

.placenumber {
  width: 270px;
  float: left;
  margin-top: 50px;
}

.phone {
  width: 147px;
  border: 3px solid #ffffff;
  padding: 7px 47px 7px 70px;
  font-weight: normal;
  background: url("../images/spritesheet-hb1.png") no-repeat;
  background-position: -85px -15px;
  margin: 0;
}

.phone .mobile {
  font-size: 21px;
  color: #e9292a;
}

.placenumber .adress {
  font-size: 14px;
  color: #32425c;
  padding-top: 9px;
  padding-left: 10px;
  font-weight: normal;
}

.user-block {
  float: right;
  width: 272px;
  margin-top: 50px;
  font-weight: normal;
}

.user-block .login {
  position: relative;
  display: inline-block;
  float: left;
  font-size: 21px;
  padding: 10px 27px 10px 42px;
  background: #ffffff;
  color: #000;
  margin-right: 10px;
}

.user-block .login::after {
  position: absolute;
  content: '';
  top: 14px;
  left: 11px;
  height: 20px;
  width: 20px;
  background: url("../images/spritesheet-hb1.png") no-repeat;
  background-position: -25px -25px;
  opacity: 0.3;
}

.user-block .login:hover::after {
  opacity: 1;
}

.user-block .login:active::after {
  opacity: 0.3;
}

.user-block .login:hover {
  color: #ee3643;
}

.user-block .login:active {
  color: #c7c7c7;
}

.user-block .registration {
  float: left;
  font-size: 21px;
  padding: 10px 21.2px;
  background: #ffffff;
  color: #000;
}

.user-block .registration:hover {
  color: #ee3643;
}

.user-block .registration:active {
  color: #c7c7c7;
}

.nav-bar {
  float: left;
  width: 840px;
  background: #32425c;
  padding: 0 50px;
  border-bottom: 5px solid #293449;
  margin-bottom: 60px;
}

.nav-bar li {
  vertical-align: top;
  display: inline-block;
}

.nav-bar a {
  background: #32425c;
  font-weight: normal;
  display: block;
  font-size: 17px;
  color: #ffffff;
  padding: 16.5px 25px;
  text-align: center;
}

.nav-bar a:hover {
  background: #212a3a;
}

.nav-bar a:active {
  background-color: #1d2739;
  color: #868c95;
}

.offers {
  width: 940px;
  margin-bottom: 33px;
}

.category h2 {
  color: #ffffff;
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 15px;
}

.category a {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: normal;
  background: rgba(0,0,0,.1);
  margin-left: 24px;
  padding: 7px 24px 7px 24px;
  border-radius: 3px;
  margin-bottom: 22px;
}

.category a:hover {
  background: rgba(0,0,0,.2);
}

.category a:active {
  background: rgba(0,0,0,.3);
}

.category {
  position: relative;
  float: left;
  width: 300px;
  background: #f6b22d;
  margin-right: 20px;
  margin-bottom: 20px;
}

.category:nth-child(3) {
  margin-right: 0;
}

.category .bucket {
  position: absolute;
  right: 49px;
  top: 34px;
}

.category .new {
  position: absolute;
  right: 0;
  top: 0;
}

.category .tool {
  position: absolute;
  right: 33px;
  top: 34px;
}

.category .track {
  position: absolute;
  right: 43px;
  top: 34px;
}

.category .basket {
  position: absolute;
  right: 61px;
  top: 28px;
}

.category .courier {
  position: absolute;
  right: 43px;
  top: 34px;
}

.category:nth-child(2) {
  background: #4aafde;
}

.category:nth-child(3) {
  background: #cc79d1;
}

.category:nth-child(4) {
  background: #85d179;
  float: right;
  margin-right: 0;
}

.category:last-child {
  margin-right: 0;
  float:right;
}

.slider {
  float: left;
  width: 621px;
  height: 265px;
}

.bxslider  h2 {
  position: absolute;
  font-size: 36px;
  color: #ffffff;
  top: 27px;
  left: 26px;
  font-weight: normal;
  text-transform: uppercase;
}

.bxslider span {
  display: inline-block;
  position: absolute;
  top: 67px;
  left: 26px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: "PT Sans Regular","Arial",sans-serif;
}

.bxslider .btn {
  position: absolute;
  bottom: 15px;
  left: 25px;
}

.popular-goods {
   background: #f7f3ec;
   padding: 25px 24px 26px 30px;
   margin-bottom: 20px;
 }

.popular-goods h1 {
  display: inline-block;
  text-transform: uppercase;
  color: #32425c;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.popular-firms {
  background: #f7f3ec;
  padding: 25px 24px 26px 30px;
  margin-bottom: 20px;
}

.popular-firms h1 {
  display: inline-block;
  text-transform: uppercase;
  color: #32425c;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.popular-firms .btn {
  width: 138px;
}

.btn {
  display: inline-block;
  float: right;
  font-size: 14px;
  text-transform: uppercase;
  background: #ee3643;
  padding: 7px 56px 7px 61px;
  border-radius: 3px;
  font-weight: normal;
}

.btn:active {
  background: #ba2732;
}

.product-items {
  width: 700px;
  margin-bottom: 30px;
}

.product-items-width {
  width: 940px;
}

.product-items .product-item {
  float: left;
  width: 218px;
  min-height: 317px;
  border: 1px solid #e5e5e5;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}

.product-item:nth-child(4) {
  position: relative;
}

.product-item:nth-child(4)::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background: url("../images/new.png")no-repeat;
}


.product-items .product-item:last-child {
  margin-right: 0;
}

.product-item .drill9000 {
  padding-top: 3px;
  padding-left: 18px;
}

.product-item .drill3000 {
  padding-top: 22px;
  padding-left: 43px;
}

.product-item .drill6000 {
  padding-top: 18px;
  padding-left: 30px;
}

.product-item .drill2000 {
  padding-top: 24px;
  padding-left: 30px;
}


.product-item .title {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  font-family: "PT Sans","Arial",sans-serif;
  padding-bottom: 15px;
}

.product-item .title-new {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  font-family: "PT Sans","Arial",sans-serif;
  padding-bottom: 40px;
}

.product-item .oldprice {
  display: inline-block;
  color: #999999;
  font-size: 17px;
  padding-left: 82px;
  text-decoration: line-through;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  font-family: "PT Sans Bold","Arial",sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

.product-item .btn {
  position: relative;
  float: left;
  padding: 9px 23px 9px 38px;
  border-radius: 2px;
  margin-left: 50px;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.7px;
}

.product-item .btn::after {
  position: absolute;
  content: '';
  top: 0;
  left: 121px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19px 0 19px 20px;
  border-color: transparent transparent transparent #ee3643;
}

.product-item .btn:active::after {
  border-color: transparent transparent transparent #ba2732;
}

.drill-photo {
  width: 220px;
  height: 183px;
}

.product-item {
  position: relative;
}

.product-item .product-controls {
  position: absolute;
  width: 218px;
  height: 271px;
  background: #ffffff;
  bottom: 0px;
  left: 0;
  opacity: 0;
  padding-top: 45px;
}

.product-item .product-controls:hover {
  opacity: 1;
  box-shadow: 0 0 10px #aeb2ba;
}

.product-controls a {
  display: block;
  color: #000;
}

.product-controls .buy {
  position: relative;
  background: #63a63e;
  color: #ffffff;
  text-transform: uppercase;
  width: 135px;
  border-radius: 3px;
  padding-bottom: 8px;
  padding-top: 7px;
  text-align: center;
  font-weight: normal;
  margin: 0 auto;
  border-bottom: 3px solid #367315;
  margin-bottom: 7px;
}

.product-controls .buy::after {
  position: absolute;
  content: '';
  background: url("../images/spritesheet.png") no-repeat;
  background-position: -25px -25px;
  width: 20px;
  height: 20px;
  top: 8px;
  left: 11px;
  opacity: 0.3;
}

.product-controls .buy:hover::after {
  opacity: 1;
}

.product-controls .buy:hover {
  background: #5fbb2d;
}

.product-controls .buy:active {
  background: #518534;
  border-bottom: 3px solid #518534;
}

.product-controls .bookmark {
  position: relative;
  background: #ffffff;
  border: 3px solid #63a63e;
  text-transform: uppercase;
  color: #32425c;
  max-width: 129px;
  margin: 0 auto;
  border-radius: 3px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 54px;
}

.product-controls .bookmark:hover {
  border: 3px solid #32425c;
}

.product-controls .bookmark:active {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
}

.product-controls .btn {
  color: #ffffff;
}

.product-controls .btn:nth-child(4) {
  margin-top: 25px;
}

.banner-firms {
  margin-bottom: 85px;
}

.firm-item {
  width: 218px;
  height: 143px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}

.firm-item .image-firm {
  position: relative;
  top: 50%;
  left: 50%;
  display: inline-block;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
}

.firm-item:nth-child(4) {
  margin-right: 0;
}

.firm-item:nth-child(8) {
  margin-right: 0;
}

.firm-item:hover {
  box-shadow: 0 10px 25px rgba(41,52,73,.5);
}

.firm-item:active {
  box-shadow:0 4px 10px rgba(41,52,73,.5);
  opacity: 0.3;
}

.service-block {
  padding-top: 70px;
  padding-bottom: 104px;
  background-color: #f2f6f8;
}

.service-block .service {
  text-transform: uppercase;
  font-size: 30px;
  padding-bottom: 38px;
}

.service-block .delivery {
  text-transform: uppercase;
  font-size: 30px;
  padding-bottom: 38px;
  color: #32425c;
}

.service-block p {
  font-size: 13px;
  font-weight: normal;
  font-family: "PT Sans","Arial",sans-serif;
  padding-bottom: 76px;
}

.service-slider-navigation {
  position: relative;
  float: left;
  width: 240px;
  margin-right: 80px;
}

.service-slider-navigation::after {
  position: absolute;
  content: '';
  top: -41px;
  left: 230px;
  width: 10px;
  height: 272px;
  background: url("../images/shadow-block.png") no-repeat;

}

.service-slider-navigation label {
  font-size: 21px;
  display: inline-block;
  width: 218px;
  padding: 18px 0 18px 22px;
  background: #32425c;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  cursor: pointer;
  color: #fff;
}

.service-slider-navigation .active {
  background-color: #fff;
  color: #32425c;
  border-top: none;
}

.first-pageslider {
  float: left;
  width: 300px;
  height: 190px;
}

.img-slider {
  position: absolute;
  float: right;
}

.img-slider .image-slider {
  position: absolute;
  top: 5px;
  left: 470px;
}

.companyinfo-contacts {
  background-color: #ffffff;
  padding-top: 82px;
  padding-bottom: 85px;
}

.company-desc {
  float: left;
  width: 560px;
  height: 390px;
  margin-right: 80px;
}

.company-desc .title-company {
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 35px;
}

.company-desc p {
  font-size: 13px;
  font-weight: normal;
  font-family: "PT Sans","Arial",sans-serif;
  padding-bottom: 35px;
}

.list-info li {
  position: relative;
  padding-left: 40px;
  font-size: 18px;
  padding-bottom: 24px;
}

.list-info li:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 25px;
  top: 10px;
  left: 5px;
  background-color: #fb565a;
}

.company-desc .btn {
  float: left;
  padding: 6px 41px 6px 41px;
}

.company-contacts h2 {
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.company-contacts p {
  font-size: 13px;
  font-weight: normal;
  font-family: "PT Sans","Arial",sans-serif;
  padding-bottom: 35px;
}

.map {
  padding-bottom: 40px ;
}

.footer-up .left-footer-up {
  float: left;
  width: 326px;
}

.footer-up {
  background-color: #32425c;
  padding-bottom: 40px;
}

.left-footer-up .logo {
  width: 100%;
  height: 68px;
  margin-bottom: 35px;
}

.footer-up .header-logo {
  padding: 22px 52px;
  margin-bottom: 30px;
}

.footer-up p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
}

.logo .footer-logo {
  background-color: #ee3643;
  padding: 23px 37.5px 21px 37.5px;
  float: left;
  font-size: 30px;
  box-shadow: 0 5px 0 0 #b52933;
  text-transform: uppercase;
}


.right-footer-up {
  float: right;
  margin-top: 30px;
}

.right-footer-up li {
  display: inline-block;
}

.footer-navigation-list a  {
  padding: 0 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  color: #fff;
  text-decoration: none;
}

.footer-navigation-list {
  padding-bottom: 45px;
  text-align: right;
}

.footer-navigation.otherness {
  text-align: right;
}

.footer-navigation-list .link-contacts {
  padding-right: 0;
}

.footer-navigation-list a:hover {
  text-decoration: underline;
}

.footer-navigation-list .link-offer {
  padding-right: 0;
}

.footer-navigation.otherness a {
  color: #ffd180;
}

.right-footer-up a:active {
  opacity: 0.5;
}

.footer-down {
  background-color: #293449;
  padding-top: 38px;
  padding-bottom: 38px;
}

.copyright {
  float: left;
  width: 390px;
}

.copyright p {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
}

.social {
  width: 240px;
  float: left;
}

.social a {
  content: '';
  position: relative;
  display: inline-block;
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  top: -5px;
  left: 10px;
  opacity: 1;
}

.social a:hover {
  background-color: #ee3643;
}

.social .social-btn-vk:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: url("../images/social-vk.png") no-repeat;
}

.social .social-btn-fb:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: url("../images/social-fb.png") no-repeat;
}

.social .social-btn-inst:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 13px;
  width: 20px;
  height: 20px;
  background: url("../images/social-inst.png") no-repeat;
}

.communication {
  float: right;
  line-height: 18px;
}

.communication p {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  color: #fff;
}

.feedback p:first-child {
  margin-right: 89px;
}

.communication a {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-family: "Cuprum","Arial",sans-serif;
  color: #ffd180;
}

.communication a:hover {
  text-decoration: underline;
}

.communication a:active {
  color: #e13643;
}

.communication a:first-child {
  margin-right: 51px;
}

/*----------------------------INDEX PAGE---------------------------------------------*/

.popup {
  display: none;
  position: fixed;
  background: #ffffff;
  top: 50%;
  left: 50%;
  margin-top: -215px;
  margin-left: -365px;
  box-shadow: 5px 15px 50px 2px #000000;
  border-top: 7px solid #ee3643;
  font-family: "Cuprum","Arial",sans-serif;
}


.popup-show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {transform: translateY(-2000px); }
  70% {transform: translateY(30px); }
  90% {transform: translateY(-10px); }
  100% {transform: translateY(0); }
}

.popup .popup-close {
  position: absolute;
  top: 0px;
  right: 38px;
  font-size: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.popup .popup-close::before,
.popup .popup-close::after {
  content: '';
  position: absolute;
  top: 22px;
  left: 15px;
  width: 30px;
  height: 5px;
  background: #ee3643;
  border-radius: 1px;
}

.popup .popup-close::before {
  transform: rotate(45deg);
}

.popup .popup-close::after {
  transform: rotate(-45deg);
}

.form-info {
  float: left;
}

.popup .name {
  display: block;
  font-size: 18px;
}

.popup .email {
  display: block;
  font-size: 18px;
}

.popup .letter-text {
  display: block;
  font-size: 18px;
}

.popup input[type="text"] {
  width: 202px;
  float: left;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  margin-top: 10px;
  color: #999999;
  border-radius: 3px;
  border: 2px solid #d7dcde;
  margin-bottom: 20px;
}

.wrapper-label  {
  float: left;
  margin-right: 20px;
}

.wrapper-label:nth-child(2) {
  float: right;
  margin-right: 0;
}

.popup .text-letter {
  width: 440px;
  margin-top: 13px;
  border: 2px solid #d7dcde;
  font-weight: normal;
  font-size: 12px;
  padding-left: 14px;
  padding-top: 10px;
  border-radius: 3px;
  height: 97px;
}

.popup .text-letter:focus {
  border: 2px solid #d7dcde;
}

.popup .btn {
  display: block;
  width: 460px;
  background: #ee3643;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  font-family: "Cuprum","Arial",sans-serif;
}

.write-us-fields {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 46px;
  padding-bottom: 37px;
}

.block-button {
  width: 460px;
  background: #f1f1f1;
}

.write-us-button {
  padding: 37px 80px 37px 80px;
  background-color: #f1f1f1;
}

.popup ::-webkit-input-placeholder {
  color: #b4b4b4;
}

.popup .btn:active {
  background-color: #ba2732;
}

/*--------------------------------------------POPUP END-----------------------*/
.map {
  cursor: pointer;
}

.popup-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -385px;
  margin-left: -470px;
  box-shadow: 0 0 15px 1px rgba(35,31,32,.5);
  font-family: "Cuprum","Arial",sans-serif;
  height: 448px;
}

.popup-map-show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {transform: translateY(-2000px); }
  70% {transform: translateY(30px); }
  90% {transform: translateY(-10px); }
  100% {transform: translateY(0); }
}

.popup-map .popup-map-close {
  position: absolute;
  top: 0;
  right: -8px;
  font-size: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.popup-map .popup-map-close::before,
.popup-map .popup-map-close::after {
  content: '';
  position: absolute;
  top: 22px;
  left: 15px;
  width: 30px;
  height: 5px;
  background: #ee3643;
  border-radius: 1px;
}

.popup-map .popup-map-close::before {
  transform: rotate(45deg);
}

.popup-map .popup-map-close::after {
  transform: rotate(-45deg);
}

/*-------------POPUP-MAP END ---------------------*/
/*------------------INDEX-PAGE-CONTENT-END----------------------*/

.catalog-page .phone {
  width: 267px;
}

.catalog-page .header-bottom {
  margin-bottom: 25px;
}

.catalog-page .basket-link {
  background-color: #ee3643;
}

.catalog-page .user-block {
  float: right;
}

.catalog-page .catalog-user-block {
  float: right;
  position: relative;
  display: inline-block;
  font-size: 21px;
  background: #ffffff;
  color: #000;
  text-align: center;
  width: 300px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.catalog-page .catalog-user-block:active {
  opacity: 0.5;
  color: #b2b2b2;
}

.catalog-page .catalog-user-block::after {
  position: absolute;
  content: '';
  top: 12px;
  left: 24px;
  width: 20px;
  height: 18px;
  background: url("../images/icon-user.png") no-repeat;
}

.catalog-page .catalog-user-block:hover::after {
  background: url("../images/icon-user-hover.png") no-repeat;
}

.catalog-page .catalog-user-block:active::after {
  background: url("../images/icon-user.png") no-repeat;
}

.catalog-page .catalog-user-block::before {
  position: absolute;
  content: '';
  top: 13px;
  right: 8px;
  width: 20px;
  height: 18px;
  background: url("../images/icon-logout.png") no-repeat;
}

.catalog-page .catalog-user-block:hover::before {
  background: url("../images/icon-logout-hover.png") no-repeat;
}

.catalog-page .catalog-user-block:active::before {
  background: url("../images/icon-logout.png") no-repeat;
}

.catalog-page .users-menu {
  width: 300px;
  float: right;
}

.users-menu li {
  display: inline-block;
  vertical-align: top;
}

.users-menu a {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;
  padding: 9px 13px 0px 23px;
}

.users-menu li:nth-child(2) a::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.users-menu a:hover {
  color: #ee3643;
}

.users-menu a:active {
  opacity: 0.5;
  color: #32425c;
}

.inner-content .breadcrumbs {
  width: 100%;
  float: left;
  margin-bottom: 25px;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs a {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 21px 9px 21px 31px;
  color: #000;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.breadcrumbs a::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 1px;
  top: 25px;
  left: 5px;
  background-color: #c1c6ce;
  transform: rotate(45deg);
}

.breadcrumbs a::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 1px;
  top: 31px;
  left: 5px;
  background-color: #c1c6ce;
  transform: rotate(-45deg);
}

.breadcrumbs .home {
  position: relative;
  font-size: 0;
}

.breadcrumbs .home::after {
  width: 0;
}

.breadcrumbs .home::before {
  width: 0;
}

.inner-content .section-title {
  width: 100%;
  float: left;
  background: #f2f6f8;
  padding-left: 30px;
  padding-top: 31px;
  padding-bottom: 35px;
  margin-bottom: 20px;
}

.section-title h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.inner-column-left {
  width: 220px;
  float: left;
  margin-right: 20px;
}

.filters-title {
  float: left;
  width: 220px;
  padding-left: 20px;
  background: #f7f3ec;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  margin-bottom: 20px;
}

.filters-title h3 {
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
}

.slider-small label {
  display: inline-block;
  padding-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.slider-small span {
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 5px;
}

.slider-bg {
  position: relative;
  width: 220px;
  height: 81px;
  background: #f1f1f1;
  margin-bottom: 15px;
}

.slider-bg::after {
  content: '';
  position: absolute;
  top: 116px;
  left: 107px;
  width: 10px;
  height: 1px;
  background-color: #000;
}

.catalog-page .nav-bar {
  width: 943px;
}

.manufacturers {
  width: 220px;
  float: left;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 3px;
}

.manufacturers .title-checkbox {
  display: inline-block;
  font-size: 17px;
  margin-top: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 22px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.choose-checkbox {
  position: relative;
  cursor: pointer;
  display: block;
  vertical-align: top;
  padding-left: 35px;
  padding-bottom: 18px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: normal;
  font-family: 'PT Sans', 'Arial', sans-serif;

}

.creators-product input[type="checkbox"] {
  display: none;
}

.choose-checkbox input[type="checkbox"] +
.checkbox-indicator {
  position: absolute;
  top: 0px;
  left: 0;
  width: 23px;
  height: 23px;
  background: url("../images/icon-check-off.png") no-repeat;
  opacity: 0.7;
}

.choose-checkbox input[type="checkbox"] +
.checkbox-indicator:hover {
  opacity: 1;
}

.choose-checkbox input[type="checkbox"]:checked +
.checkbox-indicator {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background: url("../images/icon-check-on.png") no-repeat;
}

.power {
  width: 220px;
  float: left;
  border-top: 1px solid #e5e5e5;
}

.power span {
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.power .title-radio {
  display: inline-block;
  font-size: 17px;
  margin-top: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.choose-radio {
  position: relative;
  cursor: pointer;
}

.grid-type input[type="radio"] {
  display: none;
}

.choose-radio {
  display: inline-block;
  vertical-align: top;
  padding-left: 35px;
  padding-bottom: 20px;
}

.choose-radio input[type="radio"] +
.radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../images/icon-circle.png") no-repeat;
  opacity: 0.5;
}

.choose-radio input[type="radio"] +
.radio-indicator:hover {
  opacity: 1;
}

.choose-radio input[type="radio"]:checked +
.radio-indicator {
  content: "";
  position: absolute;
  width:  25px;
  height: 25px;
  background: url("../images/icon-circle-dot.png") no-repeat;
}

.power .choose-radio:nth-child(2) {
  margin-bottom: 55px;
}

.power .btn {
  float: left;
  background: #ffffff;
  color: #000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 6px 42px 6px 42px;
}

.power .btn:hover {
  border: 1px solid #bdc6ca;
}

.power .btn:active {
  border: 1px solid #ee3643;
}

.inner-column {
  width: 100%;
}

.inner-column-right {
  width: 700px;
  float: right;
}

.catalog-content-navigation {
  float: left;
  width: 700px;
  background-color: #f7f3ec;
  padding-left: 18px;
  border-radius: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 20px;
}

.catalog-content-navigation .catalog-title {
  float: left;
  margin-right: 139px;
}

.catalog-content-navigation h2 {
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
}

.sorting {
  float: left;
}

.sorting li {
  display: inline-block;
  vertical-align: top;
  padding-right: 60px;
}

.sorting a {
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: normal;
}

.sorting .price {
  color: #ee3643;
}

.sorting .price:hover {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.sorting .price:active {
  color: #ee3643;
  border: none;
}

.type {
  color: #c4c1bb;
  border-bottom: 1px dotted #ee3643;
}

.type:hover {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.type:active {
  color: #ee3643;
  border: none;
}

.function {
  color: #c4c1bb;
  border-bottom: 1px dotted #ee3643;
}

.function:hover {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.function:active {
  color: #ee3643;
  border: none;
}

.sorting-controls {
  width: 40px;
  float: right;
  font-size: 0;
}

.sorting-controls a {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}

.sorting-controls .up::after {
  position: absolute;
  content: '';
  top: 7px;
  left: -10px;
  border: 6px solid transparent;	border-bottom: 11px solid #c1c1c1;
  transform: rotate(180deg);
}

.sorting-controls .down::after {
  position: absolute;
  content: '';
  top: 2px;
  left: -24px;
  border: 6px solid transparent;	border-bottom: 11px solid #ee3643;
}

.sorting-controls .up:hover::after {
  border: 6px solid transparent;	border-bottom: 11px solid #000;
}

.sorting-controls .down:hover::after {
  border: 6px solid transparent;	border-bottom: 11px solid #000;
}

.sorting-controls .up:active::after {
  border: 6px solid transparent;	border-bottom: 11px solid #ee3643;
}

.sorting-controls .down:active::after {
  border: 6px solid transparent;	border-bottom: 11px solid #ee3643;
}

.sorting-controls .active::after {
  border: 6px solid transparent;	border-bottom: 11px solid #c6c2bd;
}

.catalog-page .product-controls {
  position: absolute;
  width: 216px;
  height: 314px;
  background: #ffffff;
  bottom: 0px;
  left: 0;
  opacity: 0;
  padding-top: 45px;
}

.catalog-page .product-controls .bookmark {
  max-width: 135px;
}

.catalog-page .product-item {
  float: left;
  width: 218px;
  height: 317px;
  border: 1px solid #e5e5e5;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}

.catalog-page .product-item:nth-child(3) {
  position: relative;
}

.catalog-page .product-item:nth-child(3)::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background: url("../images/new.png")no-repeat;
}

.catalog-page .product-item:nth-child(5) {
  position: relative;
}

.catalog-page .product-item:nth-child(5)::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background: url("../images/new.png")no-repeat;
}

.catalog-page .product-item:nth-child(7) {
  position: relative;
}

.catalog-page .product-item:nth-child(7)::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background: url("../images/new.png")no-repeat;
}

.catalog-page .product-item:nth-child(4) {
  position: relative;
}

.catalog-page .product-item:nth-child(4)::after {
  width: 0px;
}

.catalog-page .product-item:nth-child(3) {
  margin-right: 0;

}

.catalog-page .product-item:nth-child(6) {
  margin-right: 0;
}

.pagination {
  float: left;
  margin-bottom: 60px;
}

.pagination ul {
  font-size: 0;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  margin-right: 10px;
  padding: 7px 15px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.pagination li.active {
  padding: 7px 15px;
  border: 1px solid #ee3643;
  background: #ee3643;
  color: #ffffff;
}

.pagination li {
  background: #ffffff;
}

.pagination li:hover {
  border: 1px solid #bdc6ca;
}

.pagination li:active {
  border: 1px solid #ee3643;
}

.pagination li.active:hover {
  border: 1px solid #ee3643;
}

.pagination li.active:active {
  border: 1px solid #ee3643;
}

.pagination a {
  color: #000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: normal;
}

.active a {
  color: #ffffff;
}

.pagination .next {
  padding: 6px 25.7px;
}

.about-drill {
  background-color: #f2f6f8;
  padding-top: 65px;
  padding-bottom: 75px;
}

.about-drill h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.about-drill p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 600;

}



























